/* base template */

.project
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';    
}

.project-description
{
    margin-left: 10%;
    margin-right: 10%;
}

.home
{
    margin-left: 10%;
    margin-right: 10%;
}

.base-footer
{
    max-height: 75px;
}

/* Applies to cards larger than one page */

.content-div
{
    margin-bottom: 70px;
}

/* Max_intro */
.max-intro-video
{
    max-width: 600px;
    max-height: 600px;
}

.tutorial-text-size
{
    font-size: 36px;
}

.bread-crumb-font-size
{
    font-size: 24px;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .nav-bar-list-item {
    float: left;
  }

  .nav-bar-list-logo {
    display: block;
    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
  }

  .hamburger-button {
    width: 36px;
    height: 36px;
    margin-top:12px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #333333;
    color: darkgray;
  }

  .nav-bar-list-logo:hover {
    color:#FFFFFF;
    text-decoration:none;
  }
  
  .nav-bar-list-link {
    display: block;
    color: darkgrey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
  }

  .nav-bar-active {
    color:#FFFFFF;
    text-decoration:none;
  }

  .nav-bar-active:hover {
    color:#FFFFFF;
    text-decoration:none;
  }
  
  .nav-bar-list-link:hover {
    color:#FFFFFF;
    text-decoration:none;
  }

  .nav-bar-drop-down-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  .nav-bar-drop-down-menu-item {
    display: block;
    color: darkgrey;
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    text-decoration: none !important;
    border-color: #333333;
  }

  .nav-bar-drop-down-menu-item-active {
    color:#FFFFFF;
    text-decoration:none;
  }