/* base template */

.project
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

.project-description
{
    margin-left: 10%;
    margin-right: 10%;
}

.home
{
    margin-left: 10%;
    margin-right: 10%;
}

.base-footer
{
    max-height: 75px;
}

/* Applies to cards larger than one page */

.content-div
{
    margin-bottom: 70px;
}

/* Max_intro */
.max-intro-video
{
    max-width: 600px;
    max-height: 600px;
}

.tutorial-text-size
{
    font-size: 36px;
}

.bread-crumb-font-size
{
    font-size: 24px;
}