/* home page */

.drd-01-synth
{
    height: 575px;
    max-height: 575px;
    align-content: center;
    margin:auto;
}

#drd-01-synth-large
{
    width: 730px;
    max-width: 730px;
}

#drd-01-synth-small
{
    height: 550px;
    width: 300px;
    max-width: 300px;
}

#touchstrip-panel
{
    width: 100%;
    align-items: center;
}

#touchstrip {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    background-color: slategray;
}

#pills-VoicesPanel-tab
{
    background-color: lightblue;
    text-align: center;
    width: 70px;
    margin-top: 10px;
    margin-left: 20px;
}

#pills-AmpPanel-tab
{
    background-color: orange;
    text-align: center;
    width: 70px;
    margin-top: 10px;
}

#pills-EffectsPanel-tab
{
    background-color: red;
    text-align: center;
    width: 70px;
    margin-top: 10px;
}

.voice-label
{
    color: lightblue;
}

.amp-label
{
    color: gold;
}

.fx-label
{
    color: orangered;
}

.synth-param
{
    width: 75px;
}
.MainPanel
{
    height: 375px;
}